
/* 
        -----FONTS---
font-family: "Calistoga", serif;
 font-family: 'Proza Libre',serif;

 --------COLORS-----
 yellow #f2fb0a 
 yello #fcf804
 white #ffffff
*/

*{
   box-sizing: border-box;
   margin: 0%;
padding: 0%;
}
html{
        scroll-behavior: smooth;
}
 .container {
       background-color: #000000;
        max-width: 1200px;
        margin: 0 auto;
        width: 90%;

}

         /* -------------NAVBAR-------------*/
 .navbar{
        font-family: 'Proza Libre',serif;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 24px;
        background-color: #0a0900;
        gap: 20px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        width: 100%;
}
.nav-item1{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap:20px;
}
.nav-links{
        display: flex;
        list-style: none;
        justify-content: space-evenly;
        gap: 30px;
}
.nav-links li a:hover{
        color: #F2FB0A;
        transform: scale(1.1);
        transition:1s ease;
}

.nav-links a{color: #ffffff;
  text-decoration: none;
        
}
.nav-item2 {
  display: flex;
  gap: 1.25rem;
}

.btn-outline:link, .btn-outline:visited{
        background: transparent;
        border-radius: 10px;
        color: #ffffff;
        border: 1px solid #F2FB0A;
}
.btn-outline:hover, .btn-outline:active{
        
        background-color: #F2FB0A;
        color: #000000;
        transform: scale(1.1);
        transition:1s ease;
}
.btn2{
        margin-top: 50px;
}

.logo{
        width: 2.5rem;
        border-radius: 1rem;
}
          /* -------------HERO-SECTION-------------*/
 .hero-section{
   display:grid;
   grid-template-columns: 1fr 1fr;
   row-gap: 80px;
   column-gap: 60px;
   background: #141313;
   color: #ffffff;
   padding:6px;
   width: auto;
   justify-content: center;
   align-items: center;
   padding-top: 150px;
}
  .grid-item1{
        grid-column: 1;
        grid-row: 1;
        justify-self: center;
        align-self: center;
  }
  .grid-item2{
        grid-column:2 ;
        grid-row:1 ;
        width: auto;
        height: auto;
        justify-self: center;
        align-self: center;
}
   .grid-item3{
       grid-column: 1/ span 2;
       grid-row:2;
       justify-self: center;
       align-self: center;
}
         .grid-item3 video {
                width: 1200px;
                height: auto;
                border-radius: 10px;
                display: block;
        }
        
   h1{
        font-family: "Calistoga", serif;
        font-size: 3rem;
        font-weight: 32rem;
}
p{
        font-family: 'Proza Libre',serif;
        font-size: 1rem;
        line-height: 2rem;
        font-weight: 100px;
}

.grid-item2 p { 
        font-style:normal ;
        font-weight: 5px;
        font-size: none;
        font-family: 'Proza Libre',serif;
        letter-spacing:1px;
        /* margin-bottom: 20px;
        margin-top: 80px; */

}
  .btn{ 
        display:inline-block;
        font-weight: 500px;
        font-family: 'Proza Libre',serif;
        font-size: 1rem;
        padding: 10px 20px;
        border-radius: 11px;
        margin: 0;
        text-decoration: none;
       
}
        
.btn-primary:link,.btn-primary:visited{
        border: 1px solid #F2FB0A;
        background-color:#F2FB0A;  
        color: #000000;
        margin-left: 0%;
        backdrop-filter: blur(3px);
        
        
}

.btn-primary:hover, .btn-primary:active{
                background-color:transparent ;
                color: #ffffff;
                transform: scale(1.1) ;
                transition:1s ease;
                 
        }
        .btn2{
                margin: 0;
        }

        /* ---------FEATUER--------- */
        .features{
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 30px;
                max-height: auto;
                padding: 4.375rem 3.75rem;
                background-color: #c7ce0a;
                flex-wrap: nowrap;
                scroll-margin-top:80px ;
        }
        .features p{
                font-style:normal ;
                font-weight: 0.313rem;
                font-size: none;
                font-family: 'Proza Libre',serif;
                letter-spacing:0;
                margin-top: 1rem;

        }
        .features-img{
                max-width: 30rem;
                max-height: 90rem;
                border-radius: 12px;
                object-fit: cover;
        }
        /* ---------BENEFIT SECTION--------- */
        span img{
                width:3.75rem;
        }
        .bene-image{
      width: 32rem;
      border-radius: 8px;
      object-fit: cover;
    }
    .text-content{
        display: flex;
        gap: 1px;
        justify-content: center;

    }

    .bene-flex{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .bene-section{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 3.125rem;
        justify-content: center;
        align-items: center;
  background: linear-gradient(300deg, #00bfff, #7f8105, #0a0a08);
  background-size: 180% 180%;
  animation: gradient-animation 10s ease infinite;
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
    h2{
        font-family: "Calistoga", serif;
        letter-spacing: 1px;
        margin: 0.625rem auto;
        font-size: 3rem;
        font-weight: 32rem;
/* color: #ffffff; */
    }
    h3{
        font-family: "Calistoga", serif;
        font-size: 1.5rem;
        margin: 0.625rem auto;
        font-weight:30rem ;
    }

    /* ---------CTA--------- */
    .cta-section{
        background:url(svg.plsh/manyface.jpg) center;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        padding:4.5rem 0.625rem;
        color: #ffffff;
      
    }

    .cta-section h2{
        font-family: "Calistoga", serif;
        font-size:2rem ;
        font-weight: bold;

    }
    input{
         background-color: transparent;
         backdrop-filter: blur(3px);
         outline: none;
         padding: 0.688rem 9.375rem 0.688rem 0.625rem;
         border-radius: 15px;
         color: #ffffff;
         font-size:large;
    }
    input::placeholder{
        color: #ffffff;
        font-size: large;
    }
    
    .cta-item{
        display: flex;
        gap: 20px;
        justify-content: center;
        align-items: center;
        margin-top: 1.563rem;
        margin-bottom: 1.25rem;
    }

    /* ---------FOOTER--------- */
.social-icons img{
        width: 25px;
}
.flex-icon{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
}
footer{
background-color: #c7ce0a;
}
.footer-link a{
        color: #000000;
        font-family: 'Proza Libre',serif;
        text-decoration: none;
}
.footer-link a:hover{
        color: #ffffff;
}
.footer-item{
        display: flex;
        padding: 3rem;
        justify-content:space-between ;
        align-items: center;
}
.footer-line{
        border-top: 1px solid rgba(0, 0, 0, 0.2);
        margin: 2rem auto;
        max-width: 90%; 
}
.footer-link{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        padding:3rem;
}
/* ---------COMPONENT--------- */
.chat-container{
        width: 4rem;
        height: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        background-color: #c7ce0a;
        position: fixed;
        bottom: 2rem;
        right: 2rem;
        z-index: 999;
}
.chat-icon{

        width: 2rem;
        height: 2rem;

}

.a-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 5rem;
        padding: 30;
        width: 1200px;
        background-color: #3c06ff;
}